.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
}
#button-container {
    display:flex;
    justify-content: space-around;
}
body{
    margin: 0;
    background-image: radial-gradient(circle,rgb(187, 223, 238),rgb(26, 129, 170));
    height:100vh;
}
.player, .computer{
    display: flex;
    gap: 16px;
}
button{
    background-color: orange;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.scoreboard {
    font-size: 64px;
}

.choice-container{
    display: flex;
    align-items: center;
    height: 73vh;
    
}

.player-choice,.computer-choice{
    width: 50%;
    display: flex;
    justify-content: center;
}